/Ignore

# Virtual environment
env/

# Python-related
*.py[cod]
__pycache__/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other
.DS_Store
.vscode

# Compiled and Deployed Packages
*.ispac
*.deploy

# Build and Output Directories
bin/
obj/
Debug/
Release/

# User-Specific Files
*.suo
*.user
*.userosscache
*.rsuser

# Temporary and Log Files
*.log
*.tmp
*.cachefile

# Visual Studio Specific Files
.vs/
*.vscode/

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml

# Other Configuration and Environment Files
*.config
*.settings
*.pubxml
*.publishproj

# SSIS specific files
*.dtproj.user
*.dtproj
*.dtsx
*.params

# Sensitive SSIS properties
*.password
*.verifier
*.key

# Your specific files
ETL_01.py
ETL_02.py
/IntegrationServicesProject
SQLQuery.sql
requirements.txt
toTruncate.sql
